<style>
    #cookie-notice {padding: 7px 15px; display: none; text-align: center; position: fixed; bottom: 0; width: 100%; color: rgba(255,255,255,0.8); background: white; border-top: 1px solid black;}
    #cookie-notice a {cursor: pointer; margin-left: 10px;}
    @media (max-width: 767px) {
        #cookie-notice span {display: block; padding-top: 3px; margin-bottom: 13px;}
        #cookie-notice a {position: relative; bottom: 4px;}
    }
</style>
<div id="cookie-notice"><span>Nous désirons utiliser des cookies tiers pour récolter des statistiques d'utilisation de ce site afin d'amiéliorer la qualité de ce dernier.<br/><br/>
De plus en navigant sur ce site vous certifiez être majeur.
</span><a id="cookie-notice-accept" class="btn btn-primary btn-sm" href="#" >Approve</a><a href="/privacy" class="btn btn-primary btn-sm">More info</a></div>
<script>
    function createCookie(name,value,days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    }
    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }
    function eraseCookie(name) {
        createCookie(name,"",-1);
    }

    if(readCookie('cookie-notice-dismissed')=='true') {
        {% include gtm.js %}
    } else {
        document.getElementById('cookie-notice').style.display = 'initial';
    }
    document.getElementById('cookie-notice-accept').onclick = function() {
        createCookie('cookie-notice-dismissed','true',31);
        document.getElementById('cookie-notice').style.display = 'non';
        location.reload();
    };

</script>

