<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include head.html %}
<body>
  {% include header.html %}
  <main class="main">
    <div class="products">
      {{ content }}
    </div>
  </main>
  {% include footer.html %}

  <div hidden id="snipcart" data-api-key="{{ site.snipcartApiKey }}"></div>
	<script src="https://cdn.snipcart.com/themes/v3.0.0-beta.3/default/snipcart.js" defer></script>

	<script src="/js/jquery.min.js"></script>
	{% include cookie-consent.html %}

</body>
</html>
